@font-face {
    font-family:'XAA' ;
    src: url('../fonts/Harabara-Bold.ttf') format(truetype);
   
        font-family: 'XAA2';
        src: url('../fonts/Titillium/TitilliumText22L-600wt.otf') format('opentype');
    }

:root{
    --fonte: 'XAA' ;
    --fonte2: 'XAA2'
}
body {
    background-color: black;
    background-image: url(../imagens/);
}

header img{ 
    width: 100px;
    margin: 10px;
    
  

}
header{ 
    
}
main{
    text-align: center;
    min-height: 300px;
max-width: 1000px;
margin: auto;
margin-bottom: 20px;
padding: 30px; 
box-shadow: 0px 0px 10px black ;
padding: 15px;
}
article p { 
    color: white;
    text-align: justify; 
    width: px ;
 
    ;
    font-family: var(--fonte2);
}

article img{ 
    width: 600px;
    padding: 20px; 
    background-color: ;
   

}
nav {
height:px ;
width: px;
padding: px;
margin-top: 0px;
text-align: center;
}
 nav a{
    color: rgb(211, 23, 23); 
    display: inline;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-family: var(--fonte2 );
    width: 70px;
    margin: 10px;
}
nav a:hover{
    color: black; 
    background-color: rgb(211, 23, 23);
    transition-duration: 0.5s;
}
footer a {
    color: black; 
    text-decoration: none;

    
}
footer{
    background-color: rgb(211, 23, 23); ;
    color: black;
    text-align: center;
    
    
   
}

footer a:hover{
    color: white ; 
    
} 
footer p {
    padding: 40px;
}
.instas{
    color: white; 
    text-decoration: none;

}
.instas:hover{
    color: rgb(211, 23, 23); ;
}